@page "/"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title=@title/>
<h1>@MyText.Title</h1>
<h1>@MyText.Title</h1>
<h1>@MyText.Title</h1>
<h3>@i</h3>


<button @onclick="Switch"> dupa dupa dupa </button>
@functions {
    string title = "dupa";
    int i = 0;
    MyBlazorSite.Client.I18nText.MyText MyText = new MyBlazorSite.Client.I18nText.MyText();

    protected override async Task OnInitializedAsync()
    {
        title = await I18nText.GetCurrentLanguageAsync();
        MyText = await I18nText.GetTextTableAsync<MyBlazorSite.Client.I18nText.MyText>(this);
    }

    public async Task Switch()
    {
        string language;
        if(i % 2 == 0)
        {
            language = "pl";
        }
        else
        {
            language = "en";
        }
        await I18nText.SetCurrentLanguageAsync(language);
        title = await I18nText.GetCurrentLanguageAsync();
        i++;
    }
}