@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title=@title/>

@code {
    string title = "How is Blazor working for you?";

    protected override void OnInitialized()
    {

    }
}