@inject IUriHelper uriHelper
<Router AppAssembly="typeof(Program).Assembly">
    <NotFoundContent>
        <p>Sorry, there's nothing at this address.</p>
        <button OnClick="GoHome">Go home</button>
    </NotFoundContent>
</Router>

@code {
    void GoHome(UIMouseEventArgs e)
    {
        uriHelper.NavigateTo("/");
    }
}