@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<div class="language-picker">
    @foreach (var language in settings.SupportedLanguages)
    {
        <button Color="Color.Success" @onclick="@(async () => await ChangeLanguage(language))">@language</button>
    }
</div>

@code {
    Settings settings;
    protected override async Task OnInitializedAsync()
    {
        await Task.FromResult(settings = new Settings());
    }

    private async Task ChangeLanguage(string language)
    {
        await I18nText.SetCurrentLanguageAsync(language);
    }
}
