@inherits LayoutComponentBase
@inject IBootstrapCSS BootstrapCSS

<Navbar/>
<LanguagePicker/>

<BSContainer>
    <BSRow>
        <BSCol XS="12">@Body</BSCol>
    </BSRow>
</BSContainer>

<div style="min-height: 2000px"></div>
<Footer/>


@code {
    protected override async Task OnInitializedAsync()
    {
        await BootstrapCSS.SetBootstrapCSS("4.3.1");
    }
}