@inherits LayoutComponentBase

<Navbar/>
<LanguagePicker/>

<div>@Body</div>

<div style="min-height: 2000px"></div>
<Footer/>


@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
    }
}